<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="cn.com.hw.mapper.IUserMapper">  
	 <resultMap type="cn.com.hw.bean.UserBean" id="userResultMap">  
        <result property="id" column="id"/>  
        <result property="userName" column="username"/>  
        <result property="addr" column="addr"/>  
    </resultMap>  
 	
 	<select id="getUser" resultMap="userResultMap">
 		select * from t_user;
 	</select>
 	
 	
 	<insert id="addUser" parameterType="cn.com.hw.bean.UserBean" >
 		INSERT INTO t_user(username,addr) VALUES(#{userName},#{addr});
 	</insert>
	
</mapper>